h1 {
		text-align: center;
		color: black;
		font-size: 35px;
		text-decoration: underline;
		font-family: serif;
}

b {
		color: black;
		font-size: 24px;
		text-decoration: underline;
}

h4 {
		font-style: italic;
		font-size: 20px;
		color: black;
}

html {
		background-color: #A7C7E7;
}

p {
		font-size: 18px;
		font-family: sans-serif;
}

ul {
		font-size: 18px;
		font-family: sans-serif;
}

